---
---
$header-heading-color: #fff !default;
$header-bg-color: #E82929 !default;
$header-bg-color-secondary: #9B1B1B !default;

$section-headings-color: #9B1B1B !default;

@import "{{ site.theme }}";

